.button {
  width: 173px;
  height: 56px;
  padding: 16px 48.5px 16px 48.5px;
  border-radius: 200px;
  background: #e44848;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.7;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.button:hover {
  background: #d84343;
}
