.button {
  /* width: 173px;
  height: 56px; */
  padding: 16px 48px;
  border-radius: 200px;
  background: #e44848;
  border: none;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.0063em;
  color: #ffffff;
}

.button:hover {
  background: #d84343;
}
