.button {
  /* width: 173px;
  height: 56px; */
  padding: 16px 48px;
  border-radius: 200px;
  background: #e44848;
  border: none;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.0063em;
  color: #ffffff;
}

.button:hover {
  background: #d84343;
}

.showMore {
  padding: 16px 41px;
  letter-spacing: -0.01em;
}

.loadMore {
  padding: 15px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
  color: #101828;
  letter-spacing: -0.004em;
}

.loadMore:hover {
  background-color: #ffffff;
  border: 1px solid #D84343
}
