.location {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.locationLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.7;
  color: #6c717b;
}

.svgIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 37px;
  left: 20px
}

.inputLocation {
  width: 360px;
  height: 56px;
  padding: 18px 190px 18px 48px;
  border-radius: 12px;
  opacity: 0px;
  background: #f7f7f7;
  border: none;
}
