.notFoundContainerTrue {
    width: 888px;
    height: 785px;
    background-color: #e6e6e6f2;
    border-radius: 8px;
}

.notFoundContainerFalse {
    display: none;
    
}

.notFoudItem {
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    padding: 224px;
}