.notFoundContainer {
    width: 888px;
    height: 785px;
    background-color: #ebe1e1;
    border-radius: 8px;
}

.notFoudItem {
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    padding: 224px;
}