.catalogPageContainer {
    display: flex;
    justify-content: space-between;
    padding:48px 64px;
    /* position: relative; */
}

.catalogPageCampers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}