.homeSection {
  width: 1440px;
  height: 696px;
  background-image: url(/src/images/HomePicture.jpg);
  color: #f7f7f7;
  font-weight: 600;
  text-align: left;
  position: relative;
}

.homeTitleBox {
  width: 571px;
  height: 176px;
  position: absolute;
  left: 64px;
  bottom: 260px;
}

.homeTitle {
  font-size: 48px;
  line-height: 0.67;
  font-weight: 600;
  margin-bottom: 16px;
}

.homeItem {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
  font-weight: 600;
}
