.link {
  display: flex;
  gap: 416px;
}

.navLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.active {
  color: mediumvioletred;
}

.svgIcon {
  width: 136px;
  height: 16px;
}
