
.favoritesPageContainer {
  display: flex;
  justify-content: space-between;
  padding: 48px 64px;
}

.favoritesSearchContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.favoritesPageCampers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
