.titleList {
  margin-bottom: 24px;
}

.listCheckBtnContainer,
.typeListContainer {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
}

.itemFilters {
  color: #475467;
  margin-bottom: 32px;
}

.listFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
}

.iconProperties {
  width: 32px;
  height: 32px;
}

.buttonContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.lineBetween {
  width: 360px;
  border: 0.5px solid #dadde1;
  margin-bottom: 24px;
}

.btnName {
  text-align: center;
}

.btnName::first-letter {
  text-transform: uppercase;
}

.titleTypeList {
  margin: 32px 0 24px;
}
